/* CSS Reset based on https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* Main styling */

:root {
  --gap: 1rem;
  --border: 1px solid;
  --monospace-font: 13px monospace;
}

app-main {
  height: 100vh;
  display: grid;
  grid-template:
    "toolbar toolbar" auto
    "editor output" 1fr
    / 1fr 1fr;

  app-toolbar {
    grid-area: toolbar;
    border-bottom: var(--border);
    padding: var(--gap);

    > :not(:last-child) {
      margin-right: calc(var(--gap) / 4);
    }
  }

  app-editor-pane {
    grid-area: editor;
    border-right: var(--border);
    width: 100%;
    height: 100%;

    textarea {
      display: block;
      border: none;
      font: var(--monospace-font);
      width: 100%;
      height: 100%;
      padding: var(--gap);
      resize: none;
    }
  }

  app-output-pane {
    grid-area: output;
    position: relative; /* for `overflow: scroll` */
    width: 100%;
    height: 100%;

    pre {
      position: absolute; /* for `overflow: scroll` */
      font: var(--monospace-font);
      width: 100%;
      height: 100%;
      padding: var(--gap);
      overflow: scroll;
    }
  }
}
